{% extends 'base_new.html' %}
{% block page_title %}
Students
{% endblock %}
{% block content %}

<div class="d-flex justify-content-between mb-3">

    <a href="{% url 'student_create' %}" class="btn btn-primary">
        Add Student
    </a>

    <a href="{% url 'export_students_excel' %}" class="btn btn-success btn-sm">
    <i class="bi bi-file-earmark-excel"></i> Export Excel
</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Enrollment</th>
            <th>School</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.enrollment }}</td>
            <td>{{ student.school.name }}</td>
            <td>
                <a href="{% url 'student_update' student.id %}" class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="{% url 'student_delete' student.id %}" class="btn btn-danger btn-sm">
                    Delete
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">
                No students found
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}