{% extends 'base_new.html' %}
{% block page_title %}
School
{% endblock %}
{% block content %}

<div class="d-flex justify-content-between mb-3">


    <a href="{% url 'school_create' %}" class="btn btn-primary">
        Add School
    </a>
</div>

<div class="mb-3">
    <input
        type="text"
        id="search-input"
        class="form-control"
        placeholder="Search school..."
    >
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody id="school-table-body"></tbody>
</table>

<script>
function loadSchools(search = '') {
    fetch(`/api/schools/?search=${search}`)
        .then(response => response.json())
        .then(data => {
            let rows = '';

            if (data.data.length === 0) {
                rows = `
                    <tr>
                        <td colspan="3">No schools found</td>
                    </tr>
                `;
            } else {
                data.data.forEach(function(school) {
                  rows += `
                    <tr>
                        <td>${school.id}</td>
                        <td>${school.name}</td>
                        <td>
                            <a href="/schools/edit/${school.id}/" class="btn btn-warning btn-sm">
                                Edit
                            </a>

                            <a href="/schools/delete/${school.id}/" class="btn btn-danger btn-sm">
                                Delete
                            </a>
                        </td>
                    </tr>
                `;
                });
            }

            document.getElementById('school-table-body').innerHTML = rows;
        });
}

loadSchools();

document.getElementById('search-input').addEventListener('keyup', function() {
    loadSchools(this.value);
});
</script>

{% endblock %}